---
import ArrowRight02 from "~/assets/svgs/arrow-right-02.astro";
import Author from "~/components/shared/author.astro";
import HeaderSection from "./header-section.astro";
---

<section class="container py-12">
    <HeaderSection title="Authors" link_title="View all" link_url="/authors"/>
    <div class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-6 gap-6 md:gap-4 mt-4">
        <Author/>
        <Author/>
        <Author/>
        <Author/>
        <Author/>
        <Author/>
    </div>
</section>
