---
import { articlesHandler } from "~/lib/handlers/articles";
import HeadlineBig from "./elements/headline-big.astro";
import HeadlineSmall from "./elements/headline-small.astro";

const bigHeadline = articlesHandler.headlineBig();
const smallHeadlines = articlesHandler.headlineSmall();

---

<section
  class="grid grid-cols-1 gap-6 md:grid-cols-10 container pt-4 md:pt-8"
>
  <div class="col-span-1 md:col-span-6">
    <HeadlineBig article={bigHeadline} />
  </div>
  <div class="col-span-1 md:col-span-4">
    {
      smallHeadlines.map((article, index) => <HeadlineSmall article={article} isFirst={index === 0} isLast={index === smallHeadlines.length - 1} />)
    }
  </div>
</section>
