<section class="container pt-12 pb-0">
    <div class="flex items-center justify-between">
        <h2 class="text-xl font-bold">Latest News</h2>
        <a href="#" class="a-01">See all</a>
    </div>
</section>
