---
import Card from "~/components/shared/card.astro";
import HeaderSection from "./header-section.astro";
import { articlesHandler } from "~/lib/handlers/articles";

const articles = await articlesHandler.allArticles();
---

<section class="container pt-12 pb-0">
    <HeaderSection title="Latest News" link_title="View all" link_url="/articles"/>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-4">
        {
            articles.slice(0,6).map((article) => <Card article={article}/>)
        }
    </div>
</section>
