---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import ListLayout from "~/layouts/list.astro";
import { Site } from "~/lib/constants/config";
import PageListHeader from "~/components/shared/page-list-header.astro";
export const getStaticPaths = (async ({ paginate }) => {
  const articles = await getCollection("articles");
  // Generate pages from our array of astronauts, with 2 to a page
  return paginate(articles, { pageSize: Site.postsPerPage });
}) satisfies GetStaticPaths;
// All paginated data is passed on the "page" prop
const { page } = Astro.props;

const articles = page.data;
---

<ListLayout>
  <div class="container">
    <!--Display the current page number. Astro.params.page can also be used!-->
    <PageListHeader title="Latest Articles" />
    <section>
      <ul>
        {
          articles.map((article) => (
            <li>
              <a href={`/articles/${article.id}`}>{article.data.title}</a>
            </li>
          ))
        }
      </ul>
    </section>
  </div>
</ListLayout>
