---
import ListLayout from "@layouts/list-layout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { getArticles } from "@utils/getArticles";
import WideCard from "@components/shared/wide-card.astro";
import { getArticlesByCategory } from "@utils/getArticles";

type Props = {
  articles: CollectionEntry<"articles">[];
  tag: string;
};

export const getStaticPaths = async () => {
  const articles = await getArticles();
  const categories = await getCollection("categories");

  return categories.map((category) => {
    return {
      params: { category: category.data.path },
      props: { articles: getArticlesByCategory(articles, category.data.path) },
    };
  });
};

const { category } = Astro.params;
const { articles } = Astro.props;
---

<ListLayout title={category}>
  <section class="md:px-8">
    <ul class="space-y-8">
      {
        articles.map((article, index: number) => {
          return (
            <WideCard
              article={article}
              isLast={index + 1 === articles.length}
            />
          );
        })
      }
    </ul>
  </section>
</ListLayout>
