---
import { getCollection } from "astro:content";
import NewsTickerItem from "@components/elements/news-ticker-item.astro";
const newsTickerList = await getCollection("articles", ({ data }) => {
  return (
    data.is_important &&
    !data.is_draft &&
    new Date(data.published_time) <= new Date()
  );
});
---

<section class="container mb-6">
  <div
    class="bg-base-200 rounded-md relative h-10 overflow-hidden border border-base-content"
  >
    <h2
      class="absolute left-0 top-0 h-full bg-base-200 flex items-center justify-center z-[1] px-2 border-r border-base-content"
    >
      <span class="md:hidden font-semibold">News</span>
      <span class="hidden md:block font-semibold">Breaking News</span>
    </h2>
    <div
      class="marquee-container flex w-[200%] h-full absolute overflow-hidden"
    >
      <ul class="flex w-full h-full items-center">
        {
          newsTickerList.map((item) => (
            <NewsTickerItem title={item.data.title} path={item.slug} />
          ))
        }
      </ul>
      <ul class="flex w-full h-full items-center">
        {
          newsTickerList.map((item) => (
            <NewsTickerItem title={item.data.title} path={item.slug} />
          ))
        }
      </ul>
    </div>
  </div>
</section>

<style>
  .marquee-container {
    animation: marquee 20s linear infinite;
  }

  @media (min-width: 768px) {
    .marquee-container {
      animation: marquee 45s linear infinite;
    }
  }

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
</style>
