---
type Props = {
	prevUrl: string | undefined;
	nextUrl: string | undefined;
	prevText: string | undefined;
	nextText: string | undefined;
};

const { prevUrl, nextUrl, prevText, nextText } = Astro.props;
---

{
	(prevUrl || nextUrl) && (
		<div class="pagination flex item-center justify-between w-full">
			<a href={prevUrl} class:list={[!prevUrl ? "invisible pointer-events-none" : "", "prev inline-flex items-center gap-1 group"]}>
				<span class="group-hover:-translate-x-1 transition-all duration-300">←</span>
				<span class="group-hover:-translate-x-1 transition-all duration-300">{prevText}</span>
			</a>
			<a href={nextUrl} class:list={[!nextUrl ? "invisible pointer-events-none" : "", "next inline-flex items-center gap-1 group"]}>
				<span class="group-hover:translate-x-1 transition-all duration-300">{nextText}</span>
				<span class="group-hover:translate-x-1 transition-all duration-300">→</span>
			</a>
		</div>
	)
}
