---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import { getArticles } from "@utils/getArticles";
import ListLayout from "@layouts/list-layout.astro";
import Pagination from "@components/shared/pagination.astro";
import WideCard from "@components/shared/wide-card.astro";
import type { Meta } from "@lib/types";

export const getStaticPaths = (async ({ paginate }) => {
  const PAGE_SIZE = 5;

  const articles = await getArticles();

  return paginate(articles, {
    pageSize: PAGE_SIZE,
  });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const articles = page.data;

const meta: Meta = {
  title: "News",
  description: "A news website built with Astro",
  og_image: "https://astro.build/social/banner.jpg",
  tags: [{ name: "Astro News", path: "news" }],
};
---

<ListLayout {...meta}>
  <section class="md:px-8">
    <ul class="space-y-8">
      {
        articles.map((article, index: number) => {
          return (
            <WideCard
              article={article}
              isLast={index + 1 === articles.length}
            />
          );
        })
      }
    </ul>
  </section>
  <div class="container">
    <Pagination
      prevUrl={page.url.prev}
      nextUrl={page.url.next}
      prevText="Newest"
      nextText="Older"
    />
  </div>
</ListLayout>
