---
import { Image, Picture } from "astro:assets";
import defaultImage from "~/assets/images/default-image.jpg";
---

<article class="group">
  <a href="#" class="flex flex-col gap-4">
    <div class="aspect-video overflow-hidden">
      <Picture
        src={defaultImage}
        alt="default image"
        layout="full-width"
        formats={["avif", "webp", "jpeg"]}
      />
    </div>
    <div class="flex flex-col gap-2">
      <div>
        <h2
          class="text-xl font-semibold group-hover:underline underline-offset-2"
        >
          This is a headline big
        </h2>
        <p class="text-base-content/90 text-base">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
        </p>
      </div>
      <div class="flex items-center text-xs text-base-content/80 mt-2 lg:mt-4">
        <span>3 hrs ago</span>
        <div
          class="divider divider-horizontal mx-[4px] h-4 w-1 after:cursor-pointer before:cursor-pointer"
        >
        </div>
        <span>Business</span>
      </div>
    </div>
  </a>
</article>
