---
export async function getStaticPaths() {
  return [
    { params: { category: "astro-news" } },
    { params: { category: "technology" } },
    { params: { category: "astro" } },
  ];
}
const { category } = Astro.params;
---

<h1>category: {category}</h1>
