@tailwind base;

/* Light weight */
@font-face {
  font-family: "EyesforSerifs";
  src: url("/assets/fonts/EyesforSerifs-Light.woff") format("woff");
  font-weight: 300; /* Light weight */
  font-style: normal;
}

/* Regular weight */
@font-face {
  font-family: "EyesforSerifs";
  src: url("/assets/fonts/EyesforSerifs-Regular.woff") format("woff");
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

/* Bold weight */
@font-face {
  font-family: "EyesforSerifs";
  src: url("/assets/fonts/EyesforSerifs-Bold.woff") format("woff");
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

@layer base {
  :root {
    --font-serif: "EyesforSerifs";
  }

  *,
  ::before,
  ::after {
    @apply cursor-default;

    a,
    a *,
    a::after,
    a::before,
    button,
    button *,
    button::after,
    button::before {
      @apply cursor-pointer;
    }

    input:not([disabled]),
    textarea:not([disabled]) {
      @apply cursor-text;
    }
  }

  h1,
  h2 {
    @apply font-serif;
  }
}
