@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Root variables */
  :root {
      --font-serif: "Source Serif 4";
      --font-sans : 'Inter Variable';

      /* Colors */
      --blue-500: rgb(50, 146, 246);
      --green-400: rgb(105, 205, 35);
      --green-500: rgb(59, 201, 73);
      --lime-500: rgb(125, 194, 9);
      --orange-500: rgb(236, 129, 36);
      --purple-600: rgb(158, 41, 218);
      --red-500: rgb(221, 81, 69);
  }
  /* Customize cursor */
  *,
  *::before,
  *::after {
    @apply cursor-default;
  }

  a, a *, a::before, a::after,
  button, button *, button::before, button::after {
    @apply cursor-pointer;
  }

  input,
  textarea{
    @apply cursor-text
  }

  *:disabled, * *:disabled::before,
  * *:disabled::after, * *:disabled {
    @apply cursor-not-allowed pointer-events-none;
  }

  /* Reset default styles */
  html, body {
    @apply h-full font-sans antialiased bg-white text-slate-900;
  }

  h1, h2, h3, h4 {
    @apply font-serif;
  }
}

@layer components {

  .b-transition {
    @apply transition-all duration-300 ease-in-out;
  }

  .rtl {
    direction: rtl;
  }

  .ltr {
    direction: ltr;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .b-input {
    @apply block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6
  }

  .b-textarea {
  @apply block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

.animate-marquee2{
  animation: marquee2 25s linear infinite;
}

