---
import HeadlineSmallItem from "./_elements/headline-small-item.astro";
import HeadlineBigItem from "./_elements/headline-big-item.astro";
import { getArticles } from "@utils/getArticles";

const headlinesList = await getArticles({
  limit: 5,
  sortByDate: true
});
---

<section class="container grid grid-cols-1 lg:grid-cols-3 lg:gap-4 mb-12">
  <HeadlineBigItem data={headlinesList[0]} />
  <ul
    class="col-span-1 flex flex-col justify-between gap-2 w-full mt-44 lg:mt-0"
  >
    {
      headlinesList
        .slice(1, 5)
        .map((item) => <HeadlineSmallItem data={item} />)
    }
  </ul>
</section>
