---
import HeadlineSmallItem from "./_elements/headline-small-item.astro";
---

<section class="container grid grid-cols-3 gap-4 mb-16">
  <div class="col-span-2 aspect-[20/9] border">x</div>
  <ul class="col-span-1 flex flex-col justify-between gap-1">
    <HeadlineSmallItem />
    <HeadlineSmallItem />
    <HeadlineSmallItem />
    <HeadlineSmallItem />
  </ul>
</section>
