---
import SectionTitle from "@components/elements/section-title.astro";
import NewsCard from "@components/shared/news-card.astro";
---

<section class="container space-y-4 mb-16">
  <SectionTitle title="Latest News" path="/news" />
  <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-4">
    <NewsCard />
    <NewsCard />
    <NewsCard />
    <NewsCard />
  </div>
</section>
