---
import SectionTitle from "@components/elements/section-title.astro";
import AuthorItem from "@components/elements/author-item.astro";
import { getCollection } from "astro:content";
import { getArticles } from "@utils/getArticles";

const articles = await getArticles();
// Create a map to store unique authors and their post counts
const authorMap = new Map();

// Count posts for each author and store unique authors
articles.forEach((article) => {
  article.data.authors.forEach((author) => {
    if (authorMap.has(author.id)) {
      authorMap.get(author.id).postCount += 1;
    } else {
      authorMap.set(author.id, { ...author, postCount: 1 });
    }
  });
});

// Convert the map to an array and sort by post count
const sortedAuthors = Array.from(authorMap.values())
  .sort((a, b) => b.postCount - a.postCount);

// Optionally, limit to top N authors
const topAuthors = sortedAuthors.slice(0, 5);
---

<section class="container">
  <SectionTitle title="Top Authors" path="/authors" />
  <div class="grid grid-cols-2 gap-4 lg:grid-cols-5 justify-between">
    {topAuthors.map((author) => (
      <AuthorItem author={author} />
    ))}
  </div>
</section>
