---
import { articlesHandler } from "@utils/handlers/articlesHandler";
import HeadlineSmall from "./_elements/headline-small.astro";
import HeadlineBig from "./_elements/headline-big.astro";

type Props = {
  count: number;
};
const { count } = Astro.props;

console.log("COUNT SMALL", count);

const SmallHeadlineArticles =
  await articlesHandler.getSmallHeadlineArticles(count);
---

<section class="container grid grid-cols-1 gap-4 md:grid-cols-12 py-6">
  <HeadlineBig />
  <div class="col-span-1 md:col-span-5 lg:col-span-4 flex flex-col gap-4">
    {
      SmallHeadlineArticles.map((article, index) => (
        <HeadlineSmall
          article={article}
          isLast={index === SmallHeadlineArticles.length - 1}
        />
      ))
    }
  </div>
</section>
