---
import { articlesHandler } from "@utils/handlers/articlesHandler";
import CardNewsSmall from "@components/shared/card-news-small.astro";
type Props = {
  name: string;
  link_path: string;
  link_text: string;
  count: number;
};
const { name, link_path, link_text, count } = Astro.props;

const articles = await articlesHandler.getArticlesForLatestNews(count);
---

<section class="container pt-8 space-y-4">
  <div class="flex items-center justify-between gap-4">
    <h2 class="text-2xl">{name}</h2>
    <a href={link_path} class="text-sm text-primary">
      <!-- TODO: add arrow icon -->
      <span>{link_text}</span>
    </a>
  </div>
  <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-4">
    {articles.map((article) => <CardNewsSmall article={article} />)}
  </div>
</section>
