---
import NewsTicker from "@components/shared/news-ticker.astro";
import BaseLayout from "@layouts/base-layout.astro";
import Headlines from "./_components/headlines.astro";
import LatestNews from "./_components/latest-news.astro";
import TopAuthors from "./_components/top-authors.astro";
---

<BaseLayout title="Welcome to Astro.">
  <div class="pt-4">
    <NewsTicker />
    <Headlines />
    <LatestNews />
    <TopAuthors />
  </div>
</BaseLayout>
