<nav class="navbar-center hidden lg:flex container">
  <ul class="menu menu-horizontal px-1 mx-auto">
    <li><a>Item 1</a></li>
    <li><a>Item 2</a></li>
    <li><a>Item 3</a></li>
    <li><a>Item 4</a></li>
  </ul>
</nav>
