@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: "Source Sans Pro";
    --font-serif: "Source Serif 4 Variable";
  }
  html {
    @apply h-full text-[16px];
  }

  @media (min-width: 1024px) {
    html {
      @apply text-[17px];
    }
  }

  body {
    @apply font-sans antialiased h-full;
  }

  h1,
  h2 {
    @apply font-serif;
  }

  small,
  time {
    @apply text-sm;
  }
}

@layer components {
  .a-01 {
    @apply hover:underline decoration-primary;
  }
}

:where(*) :where(*, ::before, ::after) {
  cursor: default;
}

a, button, :where(a, button) :where(*, ::before, ::after) {
  cursor: pointer;
}

:where(input, textarea):not([disabled]) {
  cursor: text;
}
