---
import Head from "@components/bases/head.astro";
import { SITE } from "@lib/consts";
import type { ArticleMeta, Meta } from "@lib/types";

type Props = ArticleMeta | Meta;

const props = Astro.props;
---

<html lang={SITE.location} dir={SITE.dir}>
  <Head {...props} />
  <body>
    <slot />
  </body>
</html>
