---
import { Site } from "~/lib/constants/config";
import Head from "~/components/bases/head.astro";
import Header from "~/components/shared/header.astro";
import Footer from "~/components/shared/footer.astro";
import type { ArticleMeta, Meta } from "~/lib/types";

type Props = ArticleMeta | Meta;

const props = Astro.props;
---

<!doctype html>
<html lang={Site.locale} dir={Site.dir}>
  <Head {...props} />
  <body class="flex flex-col">
    <Header />
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>
