---
import BaseLayout from "./base.astro";
import ViewListHeader from "~/components/shared/view-list-header.astro";

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<BaseLayout>
  <div class="container flex flex-col h-full pb-8 pt-4">
    <ViewListHeader title={title} />
    <slot />
  </div>
</BaseLayout>
