---
import { Site } from "~/lib/constants/config";
import BaseLayout from "./base.astro";
import ViewListHeader from "~/components/shared/view-list-header.astro";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<BaseLayout title={`${title} | ${Site.title}`} description={description}>
  <div class="container flex flex-col h-full pb-8 pt-4" data-pagefind-ignore="all">
    <ViewListHeader title={title} />
    <slot />
  </div>
</BaseLayout>
