---
import ListLayout from "@layouts/list-layout.astro";
import type { GetStaticPaths } from "astro";
import { getArticles } from "@utils/getArticles";

export const getStaticPaths = (async ({ paginate }) => {
  const articles = await getArticles();
  return paginate(articles, {
    params: { news: "news" },
    pageSize: 5,
  });
}) satisfies GetStaticPaths;
const { page } = Astro.props;
const articles = page.data;
---

<ListLayout title={"News"}>
  <section class="md:px-8">
    <ul class="space-y-8">
      {
        articles.map((article) => {
          return (
            <li>
              <a href={`news/${article.slug}`}>{article.data.title}</a>
            </li>
          );
        })
      }
    </ul>
  </section>
</ListLayout>
